body { font-family: Arial, Helvetica, sans-serif; }
table, table th, table td { border: 1px solid black; border-collapse: collapse; }
table th, table td { padding: 0.4em; text-align: right; }
th { background-color: #00CC33; color: white; }
table tr:nth-child(even) { background-color: #EFF2F5; }
table th:nth-child(1), table td:nth-child(1) { text-align: left; }
table { caption-side: bottom; }
.error { color: red; }
